//________________Configuration__________________________________________

// Font Stacks

$font-family--primary :'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--thin    : 100 ;
$font-weight--light   : 300;
$font-weight--norm  : 400;
$font-weight--medium : 500;
$font-weight--bold    : 700;
$font-weight--ultra-bold : 900;

// Base Colors

$white  : #fff;
$black  : #000000;

// Main Color Palette
$deep-purple : #673AB7; // Articles
$teal : #009688; // Books
$red: #F44336; // Tutorials
$blue: #2196F3; // Podcasts
$pink : #E91E63; // Talks
$cyan:#00BCD4; // Tools




// Color Palettes

$color-palettes : (
  text : (
    primary : #212121,
    secondary : #727272,
    divider : #B6B6B6,
    ),  
  icons : (
    active : rgba(0,0,0,.54),
    inactive : rgba(0,0,0, .26),
    ),
  purple : (
    light : #D1C4E9,
    primary: $deep-purple,
    dark : #512DA8,
    ),
  teal : (
    light : #B2DFDB,
    primary: $teal,
    dark : #00796B,
    ),
  red : (
    light : #FFCDD2,
    primary: $red,
    dark : #D32F2F,
    ),
  blue : (
    light : #BBDEFB,
    primary: $blue,
    dark : #1976D2,
    ),
  pink : (
    light : #F8BBD0,
    primary: $pink,
    dark : #C2185B,
    ),
  cyan : (
    light : #B2EBF2,
    primary: $cyan,
    dark : #0097A7,
    ),
); // end $color-palettes



// Typogrpahy Grid  -- Using modular scale

$letter-space: 1px;
$letter-space--tight:-1px;
$letter-space--loose: 3px;

// Border Radius
$br--default  : 3px;
$br--round  : 50%;


// Transitions
$trns-dur : .2s;
$trns-time: cubic-bezier(.4,0,.2,1);





// Breakpoints
  // xs    => 320px
  // sm   => 560px 
  // md   => 760px
  // lg     => 1120px
  // xl     => 1600px
  
  $break-points: (
    xs  : 20em, 
    sm : 35em,
    md : 47.5em,
    lg   : 75em,
    xl   : 110em
    );

  $material-shadows : (
    z1 :#{0  1px  3px rgba($black, 0.12) , 0  1px  2px rgba($black, 0.24)},
    z2 :#{0  3px  6px rgba($black, 0.16), 0  3px  6px rgba($black, 0.23)},
    z3:#{0 10px 20px rgba($black, 0.19), 0  6px  6px rgba($black, 0.23)},
    z4:#{0 14px 28px rgba($black, 0.25), 0 10px 10px rgba($black, 0.22)},
    z5:#{0 19px 38px rgba($black, 0.30), 0 15px 12px rgba($black, 0.22)},
    btn-norm:#{1px 2px 3px rgba($black, 0.17), 0 1px 4px rgba($black, 0.16)},
    btn-hover:#{0 1px 3px rgba($black, 0.13), 0 1px 4px rgba($black, 0.16)},
    btn-focus:#{0 5px 6px rgba($black, 0.15), 0 2px 5px rgba($black, 0.16)},
    btn-active:#{0 6px 5px rgba($black, 0.09), 0 7px 6px rgba($black, 0.16)},
    );