//________________Global Mixins__________________________________________


// BEM selectors

// block__element
@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

// block__element--modifier
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}



// Media queries

@mixin mq($break) {
  @if $break == "xs" {
    @media screen and ( min-width: bkpt(xs) ) {
      @content;
    }
  }
  @else if $break == "sm" {
    @media screen and ( min-width: bkpt(sm) ) {
      @content;
    }
  }
  @else if $break == "md" {
    @media screen and ( min-width: bkpt(md) ) {
      @content;
    }
  }
  @else if $break == "lg" {
    @media screen and ( min-width: bkpt(lg) ) {
      @content;
    }
  }
  @else if $break == "xl" {
    @media screen and ( min-width: bkpt(xl) ) {
      @content;
    }
  }
  @else {
    @media screen and ( min-width: $break ) {
      @content;
    }
  }
}


// Material Shadows
@mixin shadow($depth) {
  @if $depth == "z1" {
    box-shadow:ms(z1);
  }
  @else if $depth == "z2" {
    box-shadow:ms(z2);
  }
  @else if $depth == "z3" {
    box-shadow:ms(z3);
  }
  @else if $depth == "z4" {
    box-shadow:ms(z4);
  }
  @else if $depth == "z5" {
    box-shadow:ms(z5);
  }
  @else if $depth == "btn-norm" {
    box-shadow:ms(btn-norm);
  }
  @else if $depth == "btn-hover" {
    box-shadow:ms(btn-hover);
  }
  @else if $depth == "btn-focus" {
   box-shadow:ms(btn-focus);
  }
  @else if $depth == "btn-active" {
    box-shadow:ms(btn-active);
  }
}