/*___________ TABLE OF CONTENTS_______________________________
*
* SVG PLEASE
* Author: Vince Brown
* Version: 1.0
*
*
* _____________BASE________________________________________________
*
* 1.) Reset - reset style sheet 
* 2.) Susy - Import Susy Grid System
* 3.) Susy Settings - Settings for Susy grid system -- http://susy.readthedocs.org/en/latest/settings/
* 4.) Config - Global variables for Font stacks, font weights, color palettes, breakpoints..
* 5.) Functions - Global functions,  px -> em, color palettes, 
* 6.) Helpers - Helper classes such as srt(screen reading text), and extends like clearfix and psuedo elements
* 7.) Mixins - Global mixins such as mq - for named breakpoints
* 8.) Base - Base Element Styles - typography , box-sizing
*
*
* ___________LAYOUT________________________________________________
*
*
*
*
*
* ___________MODULES________________________________________________
* 
* 1.) Buttons - Styles for all buttons and modifiers of buttons
*
*
*
*
*
* ?.) Site-Footer - Styles for content in Site footer - Social Links, Rss, Copyright
*
*
*
* ____________STATE________________________________________________
*
*
*
*
*
*
*
*________END OF TABLE OF CONTENTS - START STYLES BELOW_______________________________________
*___________________________________________________________________________________________________*/
/* Reset Styles
*******************************************************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

b,
strong {
  font-weight: bold;
}

img {
  border: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Helper Classes & Extends
*******************************************************/
.site-wrapper:after, .main-nav:after, .resource__actions-cont:after, .search-wrap:after {
  content: "";
  display: table;
  clear: both;
}

.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn-contrib {
  text-align: center;
}

.site-wrapper {
  margin: 0 auto;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.site-wrapper {
  margin: 0 auto;
  max-width: 1950px;
  position: relative;
}
@media screen and (min-width: 47.5em) {
  .site-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 75em) {
  .site-wrapper {
    width: 100%;
  }
}

/* Base Styles
*******************************************************/
body {
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  font-size: 100%;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
@media screen and (min-width: 20em) {
  body {
    font-size: 106.3%;
  }
}
@media screen and (min-width: 35em) {
  body {
    font-size: 112.5%;
  }
}
@media screen and (min-width: 47.5em) {
  body {
    font-size: 125%;
  }
}
@media screen and (min-width: 75em) {
  body {
    font-size: 137.5%;
  }
}
@media screen and (min-width: 110em) {
  body {
    font-size: 150%;
  }
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

p, ul, ol, pre, table, blockquote {
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #212121;
}

input,
textarea {
  font-weight: 300;
  color: #212121;
}

.site-wrapper {
  width: 90%;
}

/* main-nav Styles
*******************************************************/
.logo {
  display: inline-block;
  width: 50%;
  margin: 1em 0 1em 1.3em;
}
@media screen and (min-width: 35em) {
  .logo {
    width: 35%;
  }
}
@media screen and (min-width: 47.5em) {
  .logo {
    width: 25%;
    max-width: 325px;
  }
}
.logo a {
  display: block;
  width: 100%;
}
.logo img {
  width: 100%;
  height: 100%;
}

.main-nav__link--articles, .main-nav__link--books, .main-nav__link--tutorials, .main-nav__link--podcasts, .main-nav__link--talks, .main-nav__link--tools {
  position: relative;
  display: block;
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: .8em;
  border-top: 2px solid #000;
  letter-spacing: 3px;
  font-weight: 300;
  color: #212121;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media screen and (min-width: 35em) {
  .main-nav__link--articles, .main-nav__link--books, .main-nav__link--tutorials, .main-nav__link--podcasts, .main-nav__link--talks, .main-nav__link--tools {
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding: 1.5rem 0;
  }
}

header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 2;
  margin-bottom: 2.25rem;
}

.main-nav {
  width: 100%;
  clear: both;
}
.main-nav__link--articles {
  border-color: #673AB7;
}
.main-nav__link--articles:hover {
  background-color: #673AB7;
  color: #fff;
  font-weight: 400;
}
.main-nav__link--books {
  border-color: #009688;
}
.main-nav__link--books:hover {
  background-color: #009688;
  color: #fff;
  font-weight: 400;
}
.main-nav__link--tutorials {
  border-color: #F44336;
}
.main-nav__link--tutorials:hover {
  background-color: #F44336;
  color: #fff;
  font-weight: 400;
}
.main-nav__link--podcasts {
  border-color: #2196F3;
}
.main-nav__link--podcasts:hover {
  background-color: #2196F3;
  color: #fff;
  font-weight: 400;
}
.main-nav__link--talks {
  border-color: #00BCD4;
}
.main-nav__link--talks:hover {
  background-color: #00BCD4;
  color: #fff;
  font-weight: 400;
}
.main-nav__link--tools {
  border-color: #E91E63;
}
.main-nav__link--tools:hover {
  background-color: #E91E63;
  color: #fff;
  font-weight: 400;
}

/* btn Styles
*******************************************************/
.btn-contrib {
  position: relative;
  display: inline-block;
  width: auto;
  padding: .9em 1em;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  font-size: .75em;
  border-radius: .2em;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.btn-contrib {
  display: none;
  margin: 1em 1.3em 1em 0;
  background-color: #2196F3;
  z-index: 3;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.17), 0 1px 4px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 35em) {
  .btn-contrib {
    display: block;
    min-width: 170px;
    max-width: 250px;
  }
}
.btn-contrib:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), 0 1px 4px rgba(0, 0, 0, 0.16);
}
.btn-contrib:active {
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.09), 0 7px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.ripple {
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  -webkit-animation: ripple-animation 1.25s;
          animation: ripple-animation 1.25s;
}

@-webkit-keyframes ripple-animation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(100);
            transform: scale(100);
    opacity: 0;
  }
}

@keyframes ripple-animation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(100);
            transform: scale(100);
    opacity: 0;
  }
}
/* resource section Styles
*******************************************************/
.resource-section {
  clear: both;
}

.section__header {
  font-weight: 500;
  font-size: 1.125em;
  color: #212121;
}

.section__summary {
  color: #727272;
  font-weight: 300;
  font-size: .85em;
}

.articles .section__header {
  color: #673AB7;
}

.books .section__header {
  color: #009688;
}

.tutorials .section__header {
  color: #F44336;
}

.podcasts .section__header {
  color: #2196F3;
}

.talks .section__header {
  color: #00BCD4;
}

.tools .section__header {
  color: #E91E63;
}

.contributors .section_header {
  color: #212121;
}

.resource--article, .resource--book, .resource--tutorial, .resource--podcast, .resource--talk, .resource--tool, .resource--add, .resource--contributors {
  position: relative;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  list-style-type: none;
  border-top: 15px solid #000000;
  margin-bottom: 1.75rem;
  border-radius: 3px;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media screen and (min-width: 35em) {
  .resource--article, .resource--book, .resource--tutorial, .resource--podcast, .resource--talk, .resource--tool, .resource--add, .resource--contributors {
    width: 80%;
  }
}
@media screen and (min-width: 47.5em) {
  .resource--article, .resource--book, .resource--tutorial, .resource--podcast, .resource--talk, .resource--tool, .resource--add, .resource--contributors {
    float: left;
    margin-right: 3%;
    width: 47%;
  }
}
@media screen and (min-width: 75em) {
  .resource--article, .resource--book, .resource--tutorial, .resource--podcast, .resource--talk, .resource--tool, .resource--add, .resource--contributors {
    float: left;
    width: 31%;
    margin-right: 2.2%;
  }
}
@media screen and (min-width: 110em) {
  .resource--article, .resource--book, .resource--tutorial, .resource--podcast, .resource--talk, .resource--tool, .resource--add, .resource--contributors {
    float: left;
    width: 23%;
    margin-right: 2%;
  }
}
.resource--article:hover, .resource--book:hover, .resource--tutorial:hover, .resource--podcast:hover, .resource--talk:hover, .resource--tool:hover, .resource--add:hover, .resource--contributors:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.resources {
  list-style-type: none;
  margin-top: 2.25rem;
}
@media screen and (min-width: 47.5em) {
  .resources li:nth-child(2n+1) {
    clear: both;
  }
}
@media screen and (min-width: 75em) {
  .resources li:nth-child(2n+1) {
    clear: none;
  }
  .resources li:nth-child(3n+1) {
    clear: both;
  }
}
@media screen and (min-width: 110em) {
  .resources li:nth-child(3n+1) {
    clear: none;
  }
  .resources li:nth-child(4n+1) {
    clear: both;
  }
}

.resource__main-info {
  position: relative;
  padding: 2.25em 1.8em 2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.resource__actions-cont {
  padding-top: 10px;
}
.resource__actions-cont svg {
  float: right;
  margin-right: 10px;
}
.resource__title {
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: 300;
  color: white;
  margin-bottom: .25em;
}
.resource__summ {
  font-weight: 300;
  line-height: 1.4;
  font-size: .8em;
}
@media screen and (min-width: 75em) {
  .resource__summ {
    font-size: .7em;
  }
}
.resource__meta-info {
  color: #727272;
  padding: 1em 1.8em;
  font-weight: 400;
  font-size: .85em;
}
@media screen and (min-width: 75em) {
  .resource__meta-info {
    font-size: .75em;
  }
}
.resource__meta-info span {
  font-size: .95em;
  font-weight: inherit;
  display: block;
  color: #212121;
}
.resource__recommended {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: .5em;
  text-transform: uppercase;
  padding: .3rem .7rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0 0 3px 0;
  color: white;
}

.resource--article {
  border-color: #512DA8;
}
.resource--article .resource__main-info,
.resource--article .resource__actions-cont {
  background-color: #673AB7;
}
.resource--article .resource__summ {
  color: #D1C4E9;
}
.resource--article .resource__recommended {
  background-color: #009688;
}
.resource--article svg {
  fill: #D1C4E9;
}

.resource--book {
  border-color: #00796B;
}
.resource--book .resource__main-info,
.resource--book .resource__actions-cont {
  background-color: #009688;
}
.resource--book .resource__summ {
  color: #B2DFDB;
}
.resource--book .resource__recommended {
  background-color: #673AB7;
}
.resource--book .resource__meta p:first-child {
  border-bottom: 1px solid #B6B6B6;
}
.resource--book svg {
  fill: #B2DFDB;
}

.resource--tutorial {
  border-color: #D32F2F;
}
.resource--tutorial .resource__main-info,
.resource--tutorial .resource__actions-cont {
  background-color: #F44336;
}
.resource--tutorial .resource__summ {
  color: #FFCDD2;
}
.resource--tutorial .resource__recommended {
  background-color: #009688;
}
.resource--tutorial .resource__meta p:first-child {
  border-bottom: 1px solid #B6B6B6;
}
.resource--tutorial svg {
  fill: #FFCDD2;
}

.resource--podcast {
  border-color: #1976D2;
}
.resource--podcast .resource__main-info,
.resource--podcast .resource__actions-cont {
  background-color: #2196F3;
}
.resource--podcast .resource__summ {
  color: #BBDEFB;
}
.resource--podcast .resource__recommended {
  background-color: #009688;
}
.resource--podcast .resource__meta p:first-child {
  border-bottom: 1px solid #B6B6B6;
}
.resource--podcast svg {
  fill: #BBDEFB;
}

.resource--talk {
  border-color: #0097A7;
}
.resource--talk .resource__main-info,
.resource--talk .resource__actions-cont {
  background-color: #00BCD4;
}
.resource--talk .resource__summ {
  color: #B2EBF2;
}
.resource--talk .resource__recommended {
  background-color: #009688;
}
.resource--talk .resource__meta p:first-child {
  border-bottom: 1px solid #B6B6B6;
}
.resource--talk svg {
  fill: #B2EBF2;
}

.resource--tool {
  border-color: #C2185B;
}
.resource--tool .resource__main-info,
.resource--tool .resource__actions-cont {
  background-color: #E91E63;
}
.resource--tool .resource__summ {
  color: #F8BBD0;
}
.resource--tool .resource__recommended {
  background-color: #009688;
}
.resource--tool .resource__meta p:first-child {
  border-bottom: 1px solid #B6B6B6;
}
.resource--tool svg {
  fill: #F8BBD0;
}

.resource--add .resource__title {
  color: #212121;
}
.resource--add label {
  font-size: .6em;
  color: #727272;
  display: block;
  font-weight: 300;
}
.resource--add input {
  display: block;
  margin-bottom: 1.5em;
}

.resource--contributors {
  border-color: #212121;
}

@-webkit-keyframes removeResource {
  0% {
    opacity: 1;
    top: 0;
  }
  40% {
    opacity: .3;
  }
  100% {
    opacity: 0;
    top: 400px;
  }
}

@keyframes removeResource {
  0% {
    opacity: 1;
    top: 0;
  }
  40% {
    opacity: .3;
  }
  100% {
    opacity: 0;
    top: 400px;
  }
}
.remove-resource {
  -webkit-animation: removeResource .6s linear forwards;
          animation: removeResource .6s linear forwards;
}

#searchform {
  display: inline;
}

.search-bar-cont {
  display: inline;
}

.search-bar {
  font-size: 48px;
  opacity: 0;
  height: 250px;
  width: 0;
  line-height: 2.5;
  outline: none;
  border: none;
  height: 2em;
}

.icon-cont {
  display: inline;
}

#search-icon {
  display: inline-block;
  margin-top: .8em;
  margin-right: 1.2em;
}
@media screen and (min-width: 35em) {
  #search-icon {
    margin-top: 1.3em;
  }
}

#search-submit {
  display: none;
}

.search-wrap {
  float: right;
}
.search-wrap .btn-contrib {
  float: right;
}
