/* btn Styles
*******************************************************/
%btn {
  position: relative;
  display: inline-block;
  width:  auto;
  padding:.9em 1em;
  font-weight: $font-weight--medium;
  color:white;
  text-transform: uppercase;
  font-size:  .75em;
  border-radius: .2em;
  transition:all $trns-dur $trns-time;
  overflow:hidden;
}

.btn-contrib {
  display:none;
  @include mq(sm) {
    display: block;
    min-width: 170px;
    max-width: 250px;
  }
  @extend %btn;
  @extend %center-text;
  margin:1em 1.3em 1em 0;
  background-color: palette(blue);
  z-index: 3;
  @include shadow(btn-norm);
  &:hover {
    @include shadow(btn-hover);
  }
  // &:focus {
  //   @include shadow(btn-focus);
  // }
  &:active {
    @include shadow(btn-active);
    transition:all $trns-dur $trns-time;
  }
}

.ripple{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  animation: ripple-animation 1.25s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}