/* resource section Styles
*******************************************************/
.resource-section{
  clear:both;
}

.section__header{
  font-weight: $font-weight--medium;
  font-size: 1.125em;
  color:palette(text);
}
.section__summary{
  color:palette(text,secondary);
  font-weight: $font-weight--light;
  font-size: .85em;
}

.articles {
  .section__header{
    color:palette(purple);
  }
}
.books {
  .section__header {
    color:palette(teal);
  }
}
.tutorials {
  .section__header {
    color:palette(red);
  }
}
.podcasts {
  .section__header {
    color:palette(blue);
  }
}
.talks {
  .section__header {
    color:palette(cyan);
  }
}
.tools {
  .section__header {
    color:palette(pink);
  }
}

.contributors {
  .section_header {
    color:palette(text,primary);
  }
}